div.container {
    background-color: #457b9d;
    padding: 20px;
}

.btn.btn-primary {
    background-color: #f1faee;
    text-align: center;
    margin: 1em;
    padding: 20px;
  color: #1d3557;
  height: 7em;
  width: 7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* float: right; */
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: #e63946;
    color: #f1faee;
    cursor: pointer;
}

/* .btn.btn-small {
    background-color:#f1faee;
    color: #457b9d;
} */

/* .btn.btn-small:hover,
.btn.btn-small:focus {
  color: #e63946;
  text-decoration: none;
  cursor: pointer;
} */

.form-container {
    background-color: #f1faee;
    color: #1d3557;
    padding: 20px;
    float: left;
    /* margin: 100px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
}

#create-button {
    background-color:#457b9d;
    color: #f1faee;
}

#create-button:hover,
#create-button:focus {
  background-color: #1d3557;
  color: #f1faee;
  text-decoration: none;
  cursor: pointer;
}

div.jumbotron {
    background-color: #e63946;
    color: #f1faee;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.quote-main-container {
    background-color: #1d3557;
    color: #f1faee;
    padding: 20px;
    float: right;
    width: 800px;
    /* margin: 100px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
}

div.page-header {
    margin: 5px;
    text-align: center;
    
}
