div.container {
  background-color: #457b9d;
  padding: 20px;
}

div.jumbotron {
  background-color: #e63946;
  color: #f1faee;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.form-container {
  background-color: #f1faee;
  color: #1d3557;
  width: 45%;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
}

#create-button {
  background-color:#457b9d;
  color: #f1faee;
  margin: 0 auto;
  display: block;
}

#create-button:hover,
#create-button:focus {
background-color: #1d3557;
color: #f1faee;
text-decoration: none;
cursor: pointer;
}

/* .grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */
/* .grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100px; 
  background-color: #e63946;
  color: #f1faee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
} */
/* .grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { 
  margin: 20px;
  
   
  background-color: #e63946;
  color: #f1faee;
} */

main.quote-main-container {
  background-color: #1d3557;
  color: #f1faee;
  padding: 20px 20px 20px 20px;
  width: 100%;
  clear: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

div.page-header {
  margin: 5px;
  text-align: center;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f1faee;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#myButton, #quoteTableBtn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
	background-color:#e63946;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#f1faee;
	font-size:20px;
	font-weight:bold;
	padding:30px 65px;
  text-decoration:none;
}
	
  #myButton:hover,
  #quoteTableBtn:hover {
  background-color: #1d3557;
  color: #f1faee;
  }

 #myButton:active
 #quoteTableBtn:active {
	position:relative;
	top:1px;
}
        

/* ACCORDIAN */
.accordionWrapper{
  padding:30px;
  background:#f1faee;
  float: right;
  width:50%;
  box-sizing:border-box;
  /* margin: 2%;     */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordionItem{
  float:right;
  display:block;
  width:100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.accordionItemHeading{
  cursor:pointer;
  margin:0px 0px 10px 0px;
  padding:10px;
  background:#1d3557;
  color:#f1faee;
  width:100%;
  /* -webkit-border-radius: 3px;
-moz-border-radius: 3px; */
  border-radius: 3px;
  box-sizing: border-box;
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  /* -webkit-transform: scaleY(0);
-o-transform: scaleY(0);
-ms-transform: scaleY(0); */
  transform: scaleY(0);
  float:left;
  display:block;

}
.open .accordionItemContent{
  padding: 20px;
  background-color: #f1faee;
  border: 1px solid #1d3557;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display:block;
  /* -webkit-transform: scaleY(1);
-o-transform: scaleY(1);
-ms-transform: scaleY(1); */
  transform: scaleY(1);
  /* -webkit-transform-origin: top;
-o-transform-origin: top;
-ms-transform-origin: top; */
  transform-origin: top;

/* -webkit-transition: -webkit-transform 0.4s ease-out;
-o-transition: -o-transform 0.4s ease;
-ms-transition: -ms-transform 0.4s ease; */
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.open .accordionItemHeading{
  margin:0px;
      /* -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px; */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /* -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px; */
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #1d3557;
  color: #f1faee;
}
