div.container {
  background-color: #457b9d;
  padding: 20px;
}

div.jumbotron {
  background-color: #e63946;
  color: #f1faee;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.form-container {
  background-color: #f1faee;
  color: #1d3557;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
}

#create-button {
  background-color:#457b9d;
  color: #f1faee;
}

#create-button:hover,
#create-button:focus {
background-color: #1d3557;
color: #f1faee;
text-decoration: none;
cursor: pointer;
}

/* .grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */
/* .grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100px; 
  background-color: #e63946;
  color: #f1faee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
} */
/* .grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { 
  margin: 20px;
  
   
  background-color: #e63946;
  color: #f1faee;
} */

main.quote-main-container {
  background-color: #1d3557;
  color: #f1faee;
  padding: 20px 20px 20px 20px;
  width: 100%;
  clear: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

div.page-header {
  margin: 5px;
  text-align: center;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f1faee;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#myButton, #quoteTableBtn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
	background-color:#e63946;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#f1faee;
	font-size:20px;
	font-weight:bold;
	padding:30px 65px;
  text-decoration:none;
}
	
  #myButton:hover,
  #quoteTableBtn:hover {
  background-color: #1d3557;
  color: #f1faee;
  }

 #myButton:active
 #quoteTableBtn:active {
	position:relative;
	top:1px;
}
        

    